@model Rallypoint.Models.GameViewModel;


<div class="wrapper">
    <div class="entrance">
        <h3>Schedule a Match</h3>
        <form asp-action="NewGame" asp-controller="Rallypoint">


            <div class="uk-margin">
                <label class="uk-form-label" asp-for="playeroneUsername"></label>
                <input type="text" class="uk-input" asp-for="playeroneUsername">
                <div class="error-message"<span asp-validation-for="playeroneUsername"></span></div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" asp-for="playertwoUsername"></label>
                <input type="text" class="uk-input" asp-for="playertwoUsername">
                <div class="error-message"<span asp-validation-for="playertwoUsername"></span></div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" asp-for="address"></label>
                <input class="uk-input" asp-for="address"/>
                <small><span asp-validation-for="address"></span></small>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" asp-for="date"></label>
                <input class="uk-input" asp-for="date"/>
                <small><span asp-validation-for="date"></span></small>
            </div>

            <div class="error-message">
                <p>@TempData["error"]</p>
            </div>

            <button class="uk-button uk-button-primary uk-margin">Submit</button>
        </form>
        <a href="/games"><button class="uk-button uk-button-default">Go Back</button></a>
    </div>
</div>