<h1> Global Scoreboard</h1>

<div class="scoreboard">
    @{
        foreach(var user in ViewBag.Users)
        {
            <div>
                <p>Username: @user.username</p>
                <p>Wins: @user.wins</p>
                <p>Losses: @user.losses</p>
            </div>
        }
    }
</div>