@{
 Layout = "~/Views/Shared/_ForumLayout.cshtml";
}

<div class="uk-section uk-section-primary ">
    <div class="uk-container">

        <ul class="uk-breadcrumb">
            <li><a href="">Home</a></li>
            <li><a href="">Test</a></li>
            <li><span></span></li>
        </ul>

        <div class="uk-panel uk-light uk-margin-medium">
            <h3>Top Post </h3>
        </div>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default  uk-card-body">
                    <p>Placeholder recent</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default  uk-card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <hr class="uk-divider-icon">
        <div class="uk-panel uk-light uk-margin-medium">
            <h3>Recent Posts</h3>
        </div>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default  uk-card-body">
                    <p>Placeholder top</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default  uk-card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

    </div>
</div>