@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <h4>Login</h4>
    <form action="process-login" method="POST">
        <div class="uk-margin">
            <input class="uk-input" type="email" name="email" placeholder="Email" />
        </div>
        <div class="uk-margin">
            <input class="uk-input" type="password" name="password" placeholder="Password" />
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-default">Login</button>
        </div>
    </form>
    <p>If you forgot your email or password, you'll have to <a class="uk-link-blue" href="/">register again</a>.</p>

    <div><p style="color: red;">@TempData["error"]</p></div>
</div>